<h6>Create Todo:</h6>
<form (ngSubmit)="onSubmit(todoForm)" #todoForm="ngForm" class="was-validated">
    <div class="form-row">
        <div class="col-auto">
            <input type="text" class="form-control" placeholder="Description" id="description" [(ngModel)]="model.description" name="description" #description="ngModel" required>
            <div class="invalid-feedback">Please provide a description</div>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" placeholder="Responsible" id="responsible" [(ngModel)]="model.responsible" name="responsible" #responsible="ngModel" required>
            <div class="invalid-feedback">Please provide a responsible (name)</div>
        </div>
        <div class="col-auto">
            <select class="form-control" id="priority" [(ngModel)]="model.priority" name="priority" #priority="ngModel">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>