<span class="app-title">
	<h1>NG4 Redux App</h1>
</span>
<p>&nbsp;</p>
<p class="text-right">
	<span class="badge badge-secondary">Last Update: {{ (lastUpDate | async) | date:'mediumTime' }} | Total items: {{ (todos | async).length }}</span>
</p>
<hr />

