<main class="container">

    <!-- The header of our App, resuming what is currently happening at the TODOs collection/state: -->
    <app-todo-header></app-todo-header>

    <!-- Our insert new TODO form: -->
    <app-todo-insert></app-todo-insert>

    <!-- The list of current TODs in our App: -->
    <p>&nbsp;</p>
    <app-todo-list></app-todo-list>

</main>