<h3>TODOs List:</h3>
<div *ngIf="(todos | async)?.length!=0">

	<table class="table table-striped table-hover">
		
		<thead class="thead-dark">
			<tr>
				<th>#</th>
				<th class="text-center">Todo Description</th>
				<th class="text-center">Responsible</th>
				<th class="text-center">Priority</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
		
		<tbody>
			<tr *ngFor="let eachTodo of todos | async" [class.completed]="eachTodo.isComplete">
				<td>
					<span>{{ eachTodo.id }}</span>
				</td>
				<td>
					<span>{{ eachTodo.description }}</span>
				</td>
				<td>
					<span>{{ eachTodo.responsible }}</span>
				</td>
				<td>
					<span *ngIf="eachTodo.priority == 'low'" class="badge badge-success">Low</span>
					<span *ngIf="eachTodo.priority == 'medium'" class="badge badge-warning">Medium</span>
					<span *ngIf="eachTodo.priority == 'high'" class="badge badge-danger">High</span>
				</td>
				<td class="text-center">
					<fa (click)="toggleTodo(eachTodo)" name="check-circle" title = "Assign this TODO as NOT completed!" class="icon-todo-action text-success" [class.hidden]="!eachTodo.isComplete"></fa>
					<fa (click)="toggleTodo(eachTodo)" name="circle-o"     title = "Assign this TODO as completed!"     class="icon-todo-action text-primary" [class.hidden]="eachTodo.isComplete"></fa>
					<fa (click)="deleteTodo(eachTodo)" name="trash"        title = "Delete this TODO item!"             class="icon-todo-action text-danger"></fa>
				</td>
			</tr>
		</tbody>

	</table>
</div>