
.icon-todo-action{
    cursor: pointer;
    padding: 15px;
}
.icon-todo-action.hidden{display: none;}

/* And once completed (parent is): */
tr.completed > td > span{
    text-decoration: line-through;
    color: grey;

}
/*
tr.completed > td > fa{color:grey !important;}
*/